@model IEnumerable<StoreApplication.Data.Entities.Customers>

@{
    ViewData["Title"] = "Search Customer";
}

<h1>Search Customer</h1>
@if (Model.Count() == 0)
{
    <br />
    <br />
    <h3>No Such Record Present.</h3>
    <h5>Please Try And Search For A Different Name</h5>
    <br />
    <br />
    <p><a asp-area="" asp-controller="Customer" asp-action="SearchIndex">Search For A Different Name</a></p>
    <br />
    <p>Or</p>
    <br />
    <p><a asp-area="" asp-controller="Customer" asp-action="Index">Go Back</a></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @*@Html.DisplayNameFor(model => model.CustomerId)*@
                    Customer ID
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.FirstName)*@
                    First Name
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.LastName)*@
                    Last Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="rounded-circle" src="https://www.sackettwaconia.com/wp-content/uploads/default-profile.png" height="50" width="50" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}