@model IEnumerable<StoreApplication.Business.LocationsLogic>

@{
    ViewData["Title"] = "SelectStoreForOrder";
}

<h1>Select The Store You Want To See The Order History Of</h1>

<form asp-action="SelectedLocation">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Selection
                </th>
                <th>
                    Store ID
                </th>
                <th>
                    City
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="radio" name="selectLocation" value="@Html.DisplayFor(modelItem => item.LocationId)" required />
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group text-center">
        <input type="submit" value="Select Customer" class="btn btn-primary btn-block" />
    </div>
</form>