@model IEnumerable<StoreApplication.Data.Entities.Products>

@{
    ViewData["Title"] = "ListProducts";
}

<h1>Games In Stock</h1>

<p>
    <a asp-action="AddProduct">Add Another Game</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductId)*@
                Product ID
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductName)*@
                Game Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductType)*@
                Platform
            </th>
            <th>
                Cover Art
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @*https://i.imgur.com/jHQPWeo.png*@
                
                <img src="@Html.DisplayFor(modelItem => item.ProductUrl)" width="152" height="177" />
                
            </td>
        </tr>
}
    </tbody>
</table>
