@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        .zoomimages {
            padding: 20px;
            transition: transform .2s;
            margin: 0 auto;
        }

            .zoomimages:hover {
                transform: scale(1.25);
            }
    </style>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <b><p>The Video Game Store</p></b>

    <br /><br />

    <p>
        Welcome to The Video Game Store. We have a wide range of Video Games present across various platforms like Playstation 4, Xbox One, Nintendo Switch and PC. We also offer pre-orders for Games with the release date delivery promise or money back gaurantee. You can also request for old school video games from Playstion 3 Games to even N64 or even NES Games and we will do our best to source them and help you get the best service possible. Please enjoy browsing our wide array of video games from various eras.
    </p>

    <br /><br />
    <h5>
        Please Select One Of The Options Given Below.
    </h5>
    <br /><br />

    <a asp-area="" asp-controller="Customer" asp-action="Index">
        <button type="button" class="btn btn-dark">Customer Menu</button>
    </a>
    <br /><br />
    <a asp-area="" asp-controller="Product" asp-action="Index">
        <button type="button" class="btn btn-dark">Products Menu</button>
    </a>
    <br /><br />
    <a asp-area="" asp-controller="Order" asp-action="Index">
        <button type="button" class="btn btn-dark">Orders Menu</button>
    </a>
    <br /><br /><br /><br />

    <marquee scrollamount="15" behavior="alternate">
        <img src="https://live.staticflickr.com/65535/48326261727_f1c168cfc5_k.jpg" width="200" height="250" class="zoomimages"/>
        <img src="https://i.kym-cdn.com/photos/images/original/001/442/330/d6a.jpg" width="200" height="250" class="zoomimages"/>
        <img src="https://assets.vg247.com/current//2018/05/red_dead_redemption_2_cover_art_1.jpg" width="200" height="250" class="zoomimages"/>
        <img src="http://cdn.themis-media.com/media/global/images/library/deriv/943/943236.png" width="200" height="250" class="zoomimages" />
        <img src="https://media.rockstargames.com/rockstargames/img/global/news/upload/actual_1364906194.jpg" width="200" height="250" class="zoomimages" />
        <img src="https://d2skuhm0vrry40.cloudfront.net/2017/articles/1/8/7/8/8/7/0/148430785862.jpg/EG11/resize/690x-1/quality/75/format/jpg" width="200" height="250" class="zoomimages" />
        <img src="https://live.staticflickr.com/65535/48326261727_f1c168cfc5_k.jpg" width="200" height="250" class="zoomimages" />
        <img src="https://i.kym-cdn.com/photos/images/original/001/442/330/d6a.jpg" width="200" height="250" class="zoomimages" />
        <img src="https://assets.vg247.com/current//2018/05/red_dead_redemption_2_cover_art_1.jpg" width="200" height="250" class="zoomimages" />
        <img src="http://cdn.themis-media.com/media/global/images/library/deriv/943/943236.png" width="200" height="250"  class="zoomimages" />
        <img src="https://media.rockstargames.com/rockstargames/img/global/news/upload/actual_1364906194.jpg" width="200" height="250" class="zoomimages" />
        <img src="https://d2skuhm0vrry40.cloudfront.net/2017/articles/1/8/7/8/8/7/0/148430785862.jpg/EG11/resize/690x-1/quality/75/format/jpg" width="200" height="250" class="zoomimages" />
        <img src="https://live.staticflickr.com/65535/48326261727_f1c168cfc5_k.jpg" width="200" height="250" class="zoomimages" />
        <img src="https://i.kym-cdn.com/photos/images/original/001/442/330/d6a.jpg" width="200" height="250" class="zoomimages" />
        <img src="https://assets.vg247.com/current//2018/05/red_dead_redemption_2_cover_art_1.jpg" width="200" height="250" class="zoomimages" />
        <img src="http://cdn.themis-media.com/media/global/images/library/deriv/943/943236.png" width="200" height="250" class="zoomimages" />
        <img src="https://media.rockstargames.com/rockstargames/img/global/news/upload/actual_1364906194.jpg" width="200" height="250" class="zoomimages" />
        <img src="https://d2skuhm0vrry40.cloudfront.net/2017/articles/1/8/7/8/8/7/0/148430785862.jpg/EG11/resize/690x-1/quality/75/format/jpg" width="200" height="250" class="zoomimages" />
    </marquee>

    <br /><br /><br /><br />

    <img id="rcorners" src="https://i.pinimg.com/originals/c7/42/05/c74205f902117d5007522dba182488a6.png" />


</div>